#carousel {
    background-color: black;
    width: 100wv;
    overflow: hidden;
}
.carousel_item img {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.4;
}
